h1 haseg's fieldstone
blockquote
 自然石構築法では、アイデアを「石」として使う。  
 おもしろいと思った文章、写真、図、引用、絵、参考書などの断片である。  
 これらの「自然石」を集めて、論文、レポート、本、台本といった「壁」を作る。  
 （ワインバーグの文章読本）
 
for stone in public.fieldstones._data
  blockquote
    !=stone.contents
